body {
    padding-top: 50px;
}

div.content {
    padding-top: 50px;
    width: 100%;
}

div.center-column {
    width: 800px;
    margin: 0px auto;
}

canvas {
    box-shadow: 0px 0px 5px black;
    display: block;
    margin-bottom: 1em;
}

div.ctooltip {
    background: white;
    box-shadow: 0px 0px 5px #aaa;
    padding: 0.5em;
}
